/* CSS PAGES */
/* RÉGLAGE DE BASE */
h1{
    padding: 50px;
    font-size: 40px;
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
    font-size: 10px;
}
.contenu{
    width: 750px;
    margin: auto;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    box-shadow: 1px 1px 1px 2px rgba(22, 22, 22, 0.308);
    margin-bottom: 50px;
    padding-bottom: 25%;
}
section{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}
.contenu h2{
    padding: 50px;
}
.trait{
    width: 30%;
    height: 5px;
    background: black;
}
.entree, .plat, .dessert{
    margin-top: 15px;
    margin-bottom: 25px;
}
li{
    padding: 10px;
    display: -webkit-box;
    display: flex;
}
li p{
    width: 90%;
    padding-left: 25px;
    padding-right: 25px;
}
.prix{
    width: 10%;
}
/* Réglages Categories */
.categorie{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;
            margin-bottom: 25px;
}
.categorie h3{
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.souligne{
    height: 2px;
    width: 0px;
    background-color: black;
    margin: auto;
    -webkit-transition: -webkit-transform 370ms;
    transition: -webkit-transform 370ms;
    transition: transform 370ms;
    transition: transform 370ms, -webkit-transform 370ms;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
}
.categorie:hover .souligne{
    width: 100%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
}
/* LA NOTE ANCHANTÉE */
.la-note h3, .le-delice h3, .la-palette h3{
    font-family: 'Kalam';
    font-size: 30px;
}
.la-note p, .le-delice p, .la-palette p{
    font-family: 'Kalam';
    font-size: 18px;
}
/* LE CHIC A LA FRANCAISE */
.le-chic h3{
    font-size: 22px;
    font-family: 'Noto Serif', serif;
}
.le-chic p{
    font-family: 'Noto Serif', serif;
    font-size: 18px;
}
.le-chic .entree, .le-chic .entree h3{
    color: #c67412;
}
.le-chic .plat, .le-chic .plat h3{
    color: #a56799
}
.le-chic .dessert, .le-chic .dessert h3{
    color: #6e4ccc;
}
.le-chic .entree .trait, .le-chic .entree .souligne{
    background: #c67412;
}
.le-chic .plat .trait, .le-chic .plat .souligne{
    background: #a56799;
}
.le-chic .dessert .trait, .le-chic .dessert .souligne{
    background: #6e4ccc;
}
/* LE DÉLICE DES PAPILLES */
.le-delice h3{
    font-size: 24px;
    font-family: 'Kalam';
}
.le-delice .entree .trait, .le-delice .entree .souligne{
    background: #0228dd;
}
.le-delice .plat .trait, .le-delice .plat .souligne{
    background: #0670f3;
}
.le-delice .dessert .trait, .le-delice .dessert .souligne{
    background: #229df9;
}
/* LA PALETTE DU GOUT */
.la-palette .trait{
    background: -webkit-gradient(linear, left top, right top, from(#d2fea9), to(rgb(0, 121, 50)));
    background: linear-gradient(90deg, #d2fea9, rgb(0, 121, 50));
}
.la-palette .gauche{
    background: -webkit-gradient(linear, left top, right top, from(rgb(0, 121, 50)), to(#d2fea9));
    background: linear-gradient(90deg, rgb(0, 121, 50), #d2fea9);
}
.la-palette .souligne{
    background: -webkit-gradient(linear, left top, right top, from(#d2fea9), color-stop(rgb(0, 121, 50)),to(#d2fea9));
    background: linear-gradient(90deg, #d2fea9, rgb(0, 121, 50),#d2fea9);
}
/* MENTION LEGALES */
.mention{
    padding: 15px;
    text-align: justify;
}
/* PROCHAINEMENT */
.prochainement h3, .mention h3 {
    font-family: 'Kalam' cursive;
    font-size: 20px;
}
.prochainement img{
    width: 100%;
}
.mention h2{
    padding-top: 25px;
    padding-bottom: 25px;
}
