/* .contenu1 .titre-pied
{
    font-size: 35px;
} */
/* LE CHIC A LA FR */
/* .menu2
{
    background: #fff5fe;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    opacity: 1;
    box-shadow: 1px 0px 5px black;
}
.menu2:hover
{
    opacity: 0.5;
}

.menu2 h2
{
    font-family: 'Croissant One';
    background: -webkit-linear-gradient(10deg, #c67412, #6e4ccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu2 a
{
    font-size: 30px;
    width: 100%;
    padding-top: 55%;
    padding-bottom: 55%;
    margin: 0;
}
.menu2 span
{
    font-family: 'Playfair Display'; */
/* } */
/* LE DELICE DES PAPILLES */
/* .menu3
{
    background: #f9f9f9;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    box-shadow: 1px 0px 5px black;

}
.menu3:hover
{
    opacity: 0.5;
}
.menu3 h2
{
    font-family: 'Dancing Script';
    background: -webkit-linear-gradient(10deg, #0231df, #0889fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu3 a
{
    width: 100%;
    padding-top: 55%;
    padding-bottom: 55%;
    margin: 0;
} */
/* LA PALETTE DE GOUT */
/* .menu4
{
    background: #fdfffd;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    box-shadow: 1px 0px 5px black;
}
.menu4:hover
{
    opacity: 0.5;
}
.menu4 h2
{
    font-family: 'Kaushan Script';
     background: -webkit-linear-gradient(10deg, #50a244, #beff7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu4 a
{
    width: 100%;
    padding-top: 55%;
    padding-bottom: 55%;
    margin: 0;
} */ 
/* section a
{
    display: block;
    width: auto;
    font-size: 40px;
    text-decoration: none;
    height: auto;
} */
/* .restaurant h2
{
    font-family: 'Devonshire', cursive;
    width: 100%;
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(9deg, #f15c61, #f6916a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
/* .btn a
{
    display: inline-block;
    text-decoration: none;
} */
/* .restaurant a
{
    color: #3d1319;
    width: 100%;
    padding-top: 47%;
    padding-bottom: 47%;
    margin: 0;
} */
/* .menu1 h2
{
    width: 100%;
    font-family: 'Devonshire', cursive;
    margin: 0;
    padding: 0; */
    /* background: -webkit-linear-gradient(9deg, #f15c61, #f6916a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
/* }
.menu1 a
{
    width: 100%;
    margin: 0;

} */
/* ul
{
    align-items: center;
    justify-content: center;
} */
/* ul .plat{
    text-align: left;
    width: 80%;
}
ul .prix{
    text-align: right;
    width: auto;
} */
/* .plat
{
    display: -webkit-box;
    display: flex;
    font-size: 19px;
} */
/* .titre-plat
{
    width: 90%;
}
.prix
{
    width: auto;
    text-align: right;
} */


/* PAGE DES RESTAU */

/* .contenu1
{
    background: #fcdfdb;
}
.contenu1 h2
{
    padding-top: 10px;
    font-size: 60px;
    font-family: 'Devonshire', cursive;
    text-align: center;
}
.contenu1 h3
{
    font-family: 'Kalam';
    font-size: 25px;
    text-align: center;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    margin: 0;
}
.contenu1 .plat
{
    font-family: 'Kalam' ;
    font-size: 19px;
}
.contenu1 .prix
{
    font-family: 'Kalam' ;
} */
/* LE CHIC A LA FRANCAISE */
/* .contenu2
{
    background: #fff5fe;
    padding-bottom: 20%;
}
.contenu2 h2
{
    font-size: 40px;
    padding-bottom: 80px;
    font-family: 'Croissant One';
    background: -webkit-linear-gradient(10deg, #c67412, #6e4ccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contenu2 .titre-plat
{
    margin-left: 70px;
    font-family: 'Noto Serif', serif;
    font-size: 17px;

}
.contenu2 .prix
{
    margin-right: 70px;
    font-family: 'Noto Serif', serif;
    font-size: 17px;

    
}
.contenu2 h3
{
    font-size: 20px;
    font-family: 'Noto Serif', serif;
}
.contenu2 p
{
    font-family: 'Noto Serif', serif;
}
.contenu2 .entree
{
    color: #c67412;
    margin-bottom: 25px; 
}
.contenu2 .entree .trait
{
    background-color: #c67412;
    border: 1px solid #c67412;
}
.contenu2 .plat
{
    color: #a56799;
    margin-bottom: 25px;
    margin-top: 25px;
}
.contenu2 .plat .trait
{
    background-color: #a56799 ;
    border: 1px solid #a56799;
}
.contenu2 .dessert
{
    color: #6e4ccc;
    margin-bottom: 25px;
    margin-top: 25px;
}
.contenu2 .dessert .trait
{
    background-color: #6e4ccc;
    border: 1px solid #6e4ccc;
} */
/* LE DELICE DES PAPILLES */
/* .contenu3
{
    background: #f7f7f7;
    padding-bottom: 20%;
}
.contenu3 h2
{
    font-size: 60px;
    font-family: 'Dancing Script';
    padding-bottom: 80px;
    background: -webkit-linear-gradient(10deg, #0231df, #0889fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contenu3 h3
{
    font-size: 24px;
    font-family: 'Kalam';
}
.contenu3 .plat
{
    margin-left: 70px;
    margin-right: 70px;
}
.contenu3 .titre-plat, .contenu3 .prix, .contenu4 .prix, .contenu4 .titre-plat
{
    font-family: 'Kalam';
}
.contenu3 .trait
{
    border: 1.5px solid rgb(54, 51, 207);
    width: 230px;
    height: 2px;
    background: rgb(54, 51, 207);
} */
/* LA PALETTE DU GOUT */
/* .contenu
{    
    background: #ffffff;
    padding-bottom: 20%;
}
.contenu h2
{
    font-size: 50px;
    font-family: 'Kaushan Script';
    text-align: center;
    padding-bottom: 80px;
    background: -webkit-linear-gradient(10deg, #50a244, #beff7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contenu h3
{
    font-size: 24px;
    font-family: 'Kalam';
}
.contenu .plat
{ */
    /* margin-left: 40px;
    margin-right: 40px; */
/* }
.contenu .trait
{
    border: 1.5px solid rgb(0, 121, 50);
    width: 250px;
    height: 2px;
    background: rgb(0, 121, 50);
} */

/* PROCHAINEMENT */
/* .banniere h1
{
    text-align: center;
    font-family: 'Kalam';
    font-size: 30px;  
}
.banniere h3
{
    text-align: center;
    font-family: 'Croissant One';
    font-size: 30px;
}
.bientot
{
    margin: auto;
    background-image: url(../img/coming-soon-hour-glass-4721933_1920.png);
    height: 700px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
} */

/* RESPONSIVE */
/* .affiche div{
    width: auto;
    height: 200px;
}
.contenu1, .contenu2, .contenu3, .contenu4, .banniere, .bientot{
    width: auto;
}
.menu1 a, .menu2 a, .menu3 a, .menu4 a
{
    padding-top: 0%;
    padding-bottom: 0%;
} */