/* RESPONSIVE TABLETTE ET ECRAN standard*/
@media screen and (max-width: 1080px)
{
    html{
        margin: 0;
        padding: 0;
        background: none;
    }
    body, main, header, footer, .contenu{
        width: auto;
        /* text-align: center; */
    }
    h1{
        font-size: 35px;
    }
    header img{
        width: 50%;
    }
}
/* ECRAN INTERMEDIAIRE */
@media screen and (max-width: 915px){
    section{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    }
    h2{
        font-size: 20px;
    }
    .restaurant{
        width: auto;
        height: 350px;             
    }
    section h3{
        font-size: 35px;
    }
    p{
        font-size: 12px;
    }
    footer p{
        font-size: 20px;
    }
    .souligne{
        display: none;
    }
    footer a:hover{
        -webkit-animation: none;
                animation: none;
    }
    .restaurant:hover{
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
    section h2{
        -webkit-transition: none;
        transition: none;
    }
    section a{
        margin: auto;
    }
}
/* SMARTPHONE */
@media screen and (max-width: 615px){
    body{
        text-align: center;
    }
    .contenu{
        padding: 10px;
    }
    li{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    }
    p, .prix{
        width: 100%;
        padding: 0;
    }
}
/* PETIT SMARTPHONE*/
@media screen and (max-width: 425px){
    footer p{
        font-size: 15px;
        padding: 0;
        margin: 0;
    }
    footer .mention{
        padding-left: 20px;
    }
    footer .contact{
        padding-right: 20px;
    }
}