/* 
POLICES PERSO Google font
font-family: 'Dancing Script', ; - le délice des papilles
font-family: 'Ma Shan Zheng', ; - La note enchantée
font-family: 'Kaushan Script', ; - La palette du goût
font-family: 'Croissant One', ; - Le chic à la française
font-family: 'Playfair Display'; - Mot menu pour LCALF
font-family: 'Kalam'; - Pour le mot"MENU" sous le nom des resto "Ajouter Kalam:300,400,700 en HTML si custom "
          
*/

.page
{
    width: 1497px;
    margin: auto;
    height: auto;
}
/* HEADER */
header
{
    height: 240px;
    align-items: center;
    background: #579c87;
}
.logo
{
    display: block;
    width: 460px;
    padding-top: 80px;
    margin: auto;
}
/* MENUS */
section
{
    display: flex;
}
section div
{
    width: 50%;
    text-align: center;
    margin: 25px;
    box-shadow: 1px 0px 5px black;
    height: 760px;
}
section a
{
    padding-top: 35%;
    display: block;
    height: auto;
    width: auto;
    font-size: 50px;
    text-decoration: none;
}
section p
{
    font-size: 60px;
}
.resto span
{
    font-family: 'Kalam';
}
/* LA NOTE ENCHANTEE */
.menu1
{
    background: #fcdfdb;
}
.menu1 p
{
    font-family: 'Ma Shan Zheng';
}
/* LE CHIC A LA FR */
.menu2
{
    background: #fff5fe;
}
.menu2 p
{
    font-family: 'Croissant One';
}
.menu2 a
{
    font-size: 40px;
}
.menu2 span
{
    font-family: 'Playfair Display';
}
.menu3
{
    background: #f9f9f9;
}
.menu3 p
{
    font-family: 'Dancing Script';
}
.menu4
{
    background: #fdfffd;
}
.menu4 p
{
    font-family: 'Kaushan Script';
}
div .resto
{
    transform: scale(1);
    transition: transform 400ms;
}
div .resto:hover
{
    text-decoration: none;
    transform: scale(1.15);
}
div span
{
    font-family: sans-serif;
}
/* BOUTTON COMMING SOON */
.btn
{
    margin: auto;
    width: 660px;
    padding: 5px;
    background: #579c87;
    text-align: center;
    border-radius: 20px;
    margin-top: 95px;
    margin-bottom: 80px;
}
.btn a
{
    display: inline-block;
    font-size: 45px;
    color: #fdcb46;
    text-decoration: none;
    font-family: sans-serif;
}
/* FOOTER */
footer
{
    background: #579c87;
    display: flex;
    height: 130px;
    position: sticky;
    bottom: 0px;
}
footer p
{
    font-family: sans-serif;
    font-size: 30px;
    padding: 15px;
    width: 50%;
}
footer a
{
    color: #fdcb46;
    text-decoration: none;
}
.contact
{
    text-align: right;
    padding: 20px;
    padding-right: 50px;
}
.mention
{
    text-align: left;
    padding: 20px;
    padding-left: 50px;

}